body{
    background:#121212;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}
.logo{
    height:38px;
    padding:32px 0px 32px 32px;
    color:white;
    display:flex;
    align-items:center;
}
.fa-spotify{
    font-size:35px;
    padding:5px;
}
.fa-registered{
    font-size:3px;
    padding-bottom:5px;
    padding-left:2px;
}
.logo p{
    font-size:20px;
}
.layout-body{
    display:flex;
    justify-content:center;
}
.layout-heading{
    width:370px;
    margin-bottom:80px;
    font-size:2rem;
    color:white;
}
.form-layout {
    color:white;
    width:380px;
}
.form-layout label{
    padding-left:2px;
}
#username{
    height:47px;
    width:370px;
    border-radius:7px;
    margin:8px 0px;
    background:#121212;
    color:#ffffff;
    border-color:#a7a7a7;
    padding-left:10px;
    font-size:17px;
}
#username:hover{
    border-color:#ffffff;
}
#emailError{
    color:red;
    margin-top:0;
}
::placeholder{
    color:#a7a7a7;
}
#using-phone{
    color:#1ed760;
    font-size:15px;
}
#next{
    width:380px;
    height:47px;
    padding:8px 32px;
    margin-top:20px;
    border-radius:9999px;
    background:#1ed760;
    border:none;
    font-size:large;
    font-weight:700;
    cursor:pointer;
}
#next:hover{
    transform:scale(1, 1.05);
}
.third-party-button {
    width:380px;
    border-top:0.5px solid #a7a7a7;
    padding-top:42px;
    margin-top:42px;
}
.google, .facebook{
    border:1px solid #8787;
    border-radius:9999px;
    margin-bottom:10px;
}
.google a, .facebook a{
    color:white;
    text-decoration:none;
    display:flex;
    justify-content:space-between;
    padding:0px 32px;
    align-items:center;
}
.google i, .facebook i{
    font-size:20px;
}
.google p{
    padding:0px 51px;
}
.facebook p{
    padding:0px 37px;
}
.google:hover, .facebook:hover{
    border:1px solid #ffffff;
}
.login-container{
    color:#a7a7a7;
    width:380px;
    text-align:center;
    border-top:0.5px solid #8787;
    margin-top:42px;
    padding-top:23px;
}
.login-container a{
    color:#a7a7a7;
}
#login{
    border:none;
    text-decoration:underline;
    background:transparent;
    color:#a7a7a7;
    font-size:1.1rem;
    font-weight:500;
}
.layout-footer{
    color:#a7a7a7;
    font-size:0.7rem;
    padding:10px 32px;
    width:370px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.layout-footer a{
    color:#a7a7a7;
}